*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("https://www.w3schools.com/w3images/forestbridge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}   
h1{
    text-align: center;
    margin-top: 300px;
    font-size: 50px;

}
.B{
    text-align: center;
}
.C{
    margin-top: 250px;
}
/* .B{
    margin-bottom:300px ;
} */
























/* .abcd{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 300px;

}
.xyz{
    background-image: url();
    background-size: cover;
    height: 100vh;
    color: white;
    font-size: 30px;
} */
