.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.navbar a{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
}
.hero{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url("https://www.w3schools.com/w3images/architect.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.projects{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}
.projects img {
    width: 100%;
}
.about {
    padding: 10px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card-container .card img {
    width: 100%;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px;
}
